@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: black; 
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

h3 {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

body {
    margin: 0;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    width: 500px;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    display: inline-block; 
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    transition: all 0.3s ease 0s;
    color: grey;
}

/*create a border for the navbar */
.nav-bar {
    border: 2px solid lightgrey;
    background-color: white;
    border-radius: 12px;
    width: 480px;
}

.nav-table {
    table-layout: fixed ;
    width: 100% ;
}

.nav-td {
    width: 25% ;
    text-align: center;
}

img {
    padding: 0;
    margin: 0;
}

a {
    margin-top: 0;
    padding-top: 0;
}

/* Rounded square */

.box {
    background-color: white;
    font-size: 15px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    padding: 20px;
    margin-bottom: 15px;
    margin: 10 2px;
    border-radius: 12px;
}

.course-box {
    width: 200px;
    background-color: white;

    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    padding: 20px;
    margin-bottom: 15px;
    margin: 0 2px;
    border-radius: 12px;
    display: inline-block;
}

.select-box {
    background-color: #000000;
    color: white;
    text-align: left;
    font-size: 15px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    padding: 20px;
    margin-bottom: 15px;
    margin: 10 2px;
    border-radius: 12px;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    margin: 15px 0px;
    cursor: pointer;
  }

.close-btn {
    position:sticky;
    left: 96.53%;
    right: 2.43%;
    top: 12.53%;
    bottom: 85.85%;
}

.community-list img {
    height: 100px;
    width: 100px;
}

.community-list {
    display: flex;
}

li {
    list-style-type: none;
}

/*todo: resize image to fit 500px width of extension*/
.weekly-analytics-container img {
    width: 500px;
} 

.community-color {
    background-color: lightpink;
}

.analytics-color {
    background-color: lightyellow;
}

.schedule-color {
    background-color: #CDDEFF;
}

.settings-color {
    background-color: #E7FBBE;
}

.nav-bar td {
    border-right: solid lightgrey 2px;
}

.nav-bar td:first-child {
    border-radius: 12px 0 0 0;
}

.nav-bar td:last-child {
    border-radius: 0 12px 0 0;
    border-right: none;
}

.calendar {
    margin: 20px 10px;
}

button:hover, button:active {
    background-color: aliceblue;
}

.month {
    padding: 10px 25px;
    width: 100%;
    background: #EAC478;
    text-align: center;
  }  

  .month ul {
    margin: 0;
    padding: 0;
  }

  .month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 2px;
  }
  
  .month .next {
    float: right;
    padding-top: 2px;
  }
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 11.8%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 11.8%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  .days li .active {
    padding: 5px;
    background: #E0AE47;
    color: white !important
  }

  .last-month {
    opacity: 0.3;
  }

  .event {
      position: relative;
      top: 5px;
  }

  .event-2 {
    position: relative;
    top: 9px;
}

.event-3 {
    position: relative;
    top: 14px;
}

.event-4 {
    position: relative;
    top: 12px;
}

button:hover, button:active, .link-btn:hover, .link-btn:active {
    background-color: aliceblue;
}

input {
    padding: 15px 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: grey;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

form {
    display: none;
}

.update-progress-btn {
    width: 100%;
}


.link-btn {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    margin: 15px 0px;
    cursor: pointer;
    width: 100%;
  }

  .progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	
	transition: 1s ease 0.3s;
    opacity: 0;
}

.progress-container {
    background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 110px;
	margin: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #E0AE47;
}

input:focus + .slider {
  box-shadow: 0 0 1px #E0AE47;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.notifications {
    text-align: left;
}

.profile {
    text-align: left;
}